<%- include('./layouts/start.ejs') %>


    <!-- Section-->
    <section class="py-5">
        <div class="container">
            <form action="/admin/product" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Product Title</label>
                    <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
                    <div id="title" class="form-text">The name of the new product.</div>
                </div>

                <button type="submit" class="btn btn-primary">Add Product</button>
            </form>
        </div>
    </section>


    <%- include('./layouts/end.ejs') %>
