<div class="sidenav">
    <div class="login-main-text">
        <h2>Application<br>
            <%= pageTitle %> Page
        </h2>
        <p>Authenticate to access <span class='text-uppercase font-weight-bold'><a href="/"
                    class="text-success text-decoration-none">
                    <h1>MegaShop</h1>
                </a></span>
        </p>
    </div>
</div>
